<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Modulo Refeitorio</title>
</head>
<body>
<h1>Modulo Refeitorio</h1>

<table width="100%" border="1">
    <colgroup>
        <col width = '30%'>
        <col width = '30%'>
        <col width = '30%'>
    </colgroup>
    <thead>
        <tr>
            <td>
                <li><a href="refeicoes.html">Cadastro de Refeições</a></li>
            </td>
            <td>
                <li><a href="valores.html">Cadastro Valores das Refeições</a></li>
            </td>
            <td>
                <li><a href="relatorios.html">Relatorios de Refeições</a></li>
            </td>
        </tr>
    </thead>
</table>
</body>
</html>